/**
 * Entry point for home scss
 *
 */
#home-page-container {
  background-image: url("https://vignette.wikia.nocookie.net/leagueoflegends/images/d/d6/Star_Guardian_Promo_3.png/revision/latest?cb=20170306154141");
  background-position: center;
  background-size: cover;
}
