/**
 * Global styles for animations
 *
 * TABLE OF CONTENT:
 *  - keyframes
 *  - utilities
 *  - loops
 *  - transitions
 */

// --------------- KEYFRAMES --------------- //
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

// --------------- UTILITIES --------------- //
.animated {
  animation-fill-mode: forwards !important;
}
.animation-delay-1s {
  animation-delay: 5s;
}
.animation-delay-400 {
  animation-delay: .4s;
}
.animation-delay-600 {
  animation-delay: .6s;
}


// --------------- LOOPS --------------- //
.animation-loop-blink {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both
}

// --------------- TRANSITIONS --------------- //
