/**
 * Global styles for color - text and background
 *
 * TABLE OF CONTENT:
 *  - variables
 *  - functions
 *  - mixins
 *  - text
 *  - background
 *  - border
 */
// --------------- VARIABLES --------------- //
$primary: #0D0C1D;
$secondary: #474973;
$ternary: #F56476;

$bronze: #8C7853;
$silver: #E6E8FA;
$gold: #CFB53B;
$platinum: #A0BFB4;
$diamond: #b9f2ff;

// --------------- FUNCTIONS --------------- //
@function get-bg-hover-color($color) {
  @if (lightness($color) < 50) {
    @return lighten($color, 10%);
  } @else {
    @return darken($color, 10%);
  }
}
@function get-bg-active-color($color) {
  @if (lightness($color) < 50) {
    @return lighten($color, 20%);
  } @else {
    @return darken($color, 20%);
  }
}
// --------------- MIXINS --------------- //
@mixin bg-color($color) {
  background-color: $color !important;
}
@mixin bg-btn-color($color) {
  background-color: $color !important;
  border-color: $color !important;
  &:hover {
    background-color: get-bg-hover-color($color) !important;
    border-color: get-bg-hover-color($color) !important;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: get-bg-active-color($color) !important;
    border-color: get-bg-active-color($color) !important;
  }
}
@mixin bg-lighten-darken-i($name, $color, $num) {
  @for $i from 1 through $num {
    .bg-#{$name}.lighten-#{$i} {
      @include bg-color(lighten($color, $i * 3%));
    }
    .btn.bg-#{$name}.lighten-#{$i} {
      @include bg-btn-color(lighten($color, $i * 3%));
    }
    .bg-#{$name}.darken-#{$i} {
      @include bg-color(darken($color, $i * 3%));
    }
    .btn.bg-#{$name}.darken-#{$i} {
      @include bg-btn-color(darken($color, $i * 3%));
    }
  }
}
@mixin bg-alpha-i($name, $color, $num) {
  @for $i from 1 through $num {
    .bg-#{$name}.bg-alpha-#{$i} {
      background-color: rgba(red($color), green($color), blue($color), $i * 0.1) !important;
    }
  }
}


// --------------- TEXT --------------- //


// --------------- BACKGROUND --------------- //
.bg-primary {
  @include bg-color($primary);
}
.btn.bg-primary {
  @include bg-btn-color($primary);
}
@include bg-lighten-darken-i("primary", $primary, 5);
@include bg-alpha-i("primary", $primary, 5);

.bg-secondary {
  @include bg-color($secondary);
}
.btn.bg-secondary {
  @include bg-btn-color($secondary);
}
@include bg-lighten-darken-i("primary", $secondary, 5);
@include bg-alpha-i("secondary", $secondary, 5);
.bg-ternary {
  @include bg-color($ternary);
}
.btn.bg-ternary {
  @include bg-btn-color($ternary);
}
@include bg-lighten-darken-i("ternary", $ternary, 5);
@include bg-alpha-i("ternary", $ternary, 5);

// --------------- BORDER --------------- //
.border-bronze {
  border-color: $bronze !important;
}
.border-silver {
  border-color: $silver !important;
}
.border-gold {
  border-color: $gold !important;
}
.border-platinum {
  border-color: $platinum !important;
}
.border-diamond {
  border-color: $diamond !important;
}
