/**
 * Global styles for color - text and background
 *
 * TABLE OF CONTENT:
 *  - mixins
 *  - z-index
 *  - margins
 *  - padding
 *  - background
 */

// --------------- MIXINS --------------- //
@mixin z-i($num) {
 @for $i from 1 through $num {
   .z-#{$i} {
     z-index: $i;
   }
 }
}
@include z-i(5);

// --------------- MARGINS --------------- //
.mt--40px {
  margin-top: -40px;
}
.mb--40px {
  margin-bottom: -40px;
}

// --------------- PADDING ---------------- //
.pt-40px {
  padding-top: 40px;
}

// --------------- BACKGROUND --------------- //
.bg-center {
  background-position: center;
}
.bg-cover {
  background-size: cover;
}
