/**
 * Global styles for sizing
 *
 */
.w-vw-100 {
  width: 100vw;
}
.h-vh-100 {
  height: 100vh;
}

.w-100px {
  width: 100px;
}
.h-100px {
  height: 100px;
}
.h-40px {
  height: 40px;
}

.border-5px {
  border-width: 5px !important;
}
